/* Styling for the navbar */

nav {
    padding: 1.5rem;
    position: fixed;
    align-items: center;
    display: flex;
    background-color: #fff;
}

/*Dropdown Menu*/

.dropdown-menu {
    position: aboslute;
    top: 100%;
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,o,0.1);
    border-radius: 4px;
}

/*Welcome message */
.welcome-user {
    position: relative;
    cursor: pointer;
}

/* Display hover dropdown menu */
.welcome-user:hover .dropdown-menu {
    display: block;
}

/* List items in the dropdown menu */
.dropdown-menu li {
    display: block;
}

/* Links in the dropdown menu */
.dropdown-menu li a {
    color: #333;
    transition: color 0.3 ease;
}

/* Navbar Logo */
.nav_logo {
    font-size: 2rem;
    font-weight: 600;
    color: #0d213f;
    display: flex;
    flex-direction: row;
}

/* Logo Span */
.nav_logo span {
    color: #127369;
}

/*Navbar Icon */
.nav__icon {
    display: none;
    font-size: 2rem;
}
/* Nav Links */
.nav__links {
    list-style: none;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    gap: 1rem;
    
    
}
/* Lnks in the Nav */

.link a {
    padding: 0 1rem;
    color: #0d213f;
    transition: 0.3s;
}
/* Nav Links Hover state */
.link a:hover {
    color: #3685fb;
}
/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    .nav__logo {
        margin-right: auto;
    }
    .nav__icon {
        display: block;
    }
    .nav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .nav__links.active {
        display: flex;
       
        top: 100%;
        left: 0;
        width: 100%;
        margin: auto;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        animation: slideDown 0.5s ease-in-out; /* Animation effect */
    }
}
/* Keyframes for slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Button styles */
.navBtn {
    
    background-color: #127369;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border-width: 0px;
    
}
.navBtn:hover {
    background-color: #2da599; 
    color: white; 
}
.navBtn2 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
    height:30px;
    display:flex; 
    align-items:center; 
    justify-content:center; 
    margin-top:3px; 
}
.navBtn2:hover {
    background-color:#3685fb; 
    color:white; 
}